.aboutBlock{
    width: 90%;
    margin: auto;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 600;
}
.descBlock{
    width: 90%;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    margin: 40px auto;
}
.map{
    width: 70%;
    height: 400px;
    margin: auto;
}